@font-face {
    font-family: 'UtoChyaoChyureu';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/utoChyaochyureu/UtoChyaoChyureu.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/utoChyaochyureu/UtoChyaoChyureu.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/utoChyaochyureu/UtoChyaoChyureu.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/utoChyaochyureu/UtoChyaoChyureu.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/utoChyaochyureu/UtoChyaoChyureu.ttf') format("truetype");
    font-display: swap;
}